<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    <header >
        {% if user.is_authenticated %}
        {% for category in categories %}
            <a href="{% url 'category' category.id %}"> {{category}} </a>

        {% endfor %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"> Logout</button>
            </form>
            <a href="{% url 'profile' %}"> Profile </a>

            <form method="POST" action="{% url 'list_posts' %}">
                {% csrf_token %}
                <input type="text" placeholder="search by title" name='query_search' /> 
                <button type="submit"> Search </button>
            </form>


        {% else %}
            <a href="{% url 'login' %}"> Login </a>
            <a href="{% url 'register' %}"> Register </a>
        {% endif %}
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>